version: '3.8'
services:
  postgres:
    image: postgres:16
    container_name: urbango_postgres
    environment:
      POSTGRES_DB: urbango
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
